---
import BurgerMenu from "../assets/icons/BurgerMenu.astro";
import GithubIcon from "../assets/icons/GithubIcon.astro";
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import XIcon from "../assets/icons/XIcon.astro";


---


<div class="py-6 px-4 flex items-center justify-between">
    <a href="/" class="text-3xl font-bold text-white">DAVE</a>
    <ul class="hidden xl:flex items-center gap-2">
      <li
        class="size-10 rounded-full border border-white/20 cursor-pointer flex items-center justify-center"
      >
        <a
          target="_blank"
          href="https://www.linkedin.com/in/david-ouatedem-077985253/"
        >
          <LinkedInIcon className="size-4 fill-white" />
        </a>
      </li>
      <li
        class="size-10 rounded-full border border-white/20 cursor-pointer flex items-center justify-center"
      >
        <a target="_blank" href="https://github.com/david-ouatedem">
          <GithubIcon className="size-4 fill-white" />
        </a>
      </li>
      <li
        class="size-10 rounded-full border border-white/20 cursor-pointer flex items-center justify-center"
      >
        <a target="_blank" href="https://x.com/davdev1400">
          <XIcon className="size-4 fill-white" />
        </a>
      </li>
    </ul>
    <a class="text-white text-xs uppercase hidden xl:block" href="">davdev1400@gmail.com</a>
    <BurgerMenu className="block xl:hidden" />
  </div>