---
import { twMerge } from "tailwind-merge";
import { navbarLinks } from "../shared/data/navbarLinks";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<nav
  id="sidebar"
  class={twMerge(
    "border-l border-white fixed inset-y-0 my-auto right-0 h-[500px] w-[200px]",
    className
  )}
>
  <ul class="flex flex-col gap-2">
    {
      navbarLinks.map((link) => {
        return (
          <li class="">
            <a
              data-section={link.name.toLowerCase()}
              href={link.path}
              class={twMerge(
                `text-white text-xl pl-6 py-1.5 h-full block font-medium w-full nav-item`
              )}
            >
              {link.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
